/* ##############  CORPS ################ */
@font-face {
  font-family: "raleway";
  src: url("police/Raleway-Regular.ttf"), url("police/Raleway-Thin.ttf"),
    url("police/Raleway-Light.ttf"), url("police/Raleway-ExtraLight.ttf"),
    url("police/Raleway-Medium.ttf"), url("police/Raleway-SemiBold.ttf"),
    url("police/Raleway-Bold.ttf"), url("police/Raleway-ExtraBold.ttf"),
    url("police/Raleway-Black.ttf"), url("police/Raleway-ThinItalic.ttf"),
    url("police/Raleway-ExtraLightItalic.ttf"),
    url("police/Raleway-LightItalic.ttf"), url("police/Raleway-Italic.ttf"),
    url("police/Raleway-MediumItalic.ttf"),
    url("police/Raleway-SemiBoldItalic.ttf"),
    url("police/Raleway-BoldItalic.ttf"),
    url("police/Raleway-ExtraBoldItalic.ttf"),
    url("police/Raleway-BlackItalic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "rbold";
  src: url("police/Raleway-Bold.ttf");
}
body {
  font-family: "raleway", Arial, sans-serif;
  font-style: normal;
  margin-left: 3.5%;
  margin-right: 3.5%;
}
p {
  padding-left: 20px;
}
/* ##############  FIN CORPS ################ */
/* ##################################################################################################### */
/* ##############  EN-TETE ################ */
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header2 {
  display: none;
}

.logo1 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.menu {
  display: flex;
}

.menu input {
  display: none;
}

.menu input:checked + label {
  width: 10em;
  box-shadow: inset 0em 0.2em #0065fc;
  color: #0065fc;
}
.menu #inscrire {
  display: flex;
  text-decoration: none;
  color: #0065fc;
  font-weight: bolder;
  margin-top: 15px;
  font-family: "rbold";
}
.menu label {
  text-align: center;
  line-height: 4rem;
  cursor: pointer;
  margin-top: -0.4697em;
  width: 160px;
  display: flex;
  justify-content: center;
}
.menu a {
  text-decoration: none;
  color: black;
}
.menu #hebergement1,
#hbg1 {
  color: #0065fc;
}
/* ############## FIN DE EN-TETE ################ */
/* ##################################################################################################### */
/* ############## SECTION DE RECHERCHE ################ */

#recherche h2 {
  padding-top: 20px;
  font-family: "rbold";
}
#recherche p {
  line-height: 0px;
  margin-left: -20px;
}

#bouton input {
  width: 350px;
  height: 28px;
  border: 1px solid #f2f2f2;
  border-radius: 12px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  padding-left: 65px;
  font-weight: 500;
  font-size: 110%;
  font-family: "rbold";
}

#bouton {
  position: relative;
}

#bouton i {
  width: 25px;
  position: absolute;
  left: 0px;
  top: 8px;
  background-color: #f2f2f2;
  color: black;
  padding: 15px 5px 15px 20px;
  border-radius: 12px 0 0 12px;
}

#bouton input[type="submit"] {
  background-color: #0065fc;
  color: white;
  font-weight: 500;
  font-size: 100%;
  width: 130px;
  height: 47px;
  position: absolute;
  left: 340px;
  border-radius: 0 12px 12px 0;
  padding: 15px 20px 20px 20px;
}
/* ############## FIN SECTION DE RECHERCHE ################ */
/* ##################################################################################################### */
/* ############## SECTION FILTRES ################ */

#filtres select {
  height: 44px;
  border: 2.5px solid #f2f2f2;
  border-radius: 20px 20px 20px 20px;
  appearance: none;
  padding-left: 50px;
  padding-right: 10px;
  position: relative;
  margin: 10px 0px 0 20px;
  font-family: "rbold";
}

#filtres i {
  background-color: #deebff;
  font-size: 16px;
  color: #0065fc;
  border-radius: 100%;
  padding: 14px;
  margin: 10px 0 0 20px;
  z-index: 1;
  position: absolute;
}
#filtres .icon2 i {
  clip-path: ellipse(50% 48%);
  font-size: 18px;
}
#filtres i:hover {
  background-color: #0065fc;
  font-size: 16px;
  color: #deebff;
}
#filtres {
  display: flex;
  align-items: center;
  font-weight: bold;
  flex-wrap: wrap;
}
#filtres p {
  margin-left: -20px;
  position: relative;
  top: 5px;
  font-family: "rbold";
}
/* ############## FIN SECTION DE FILTRES ################ */
/* ##################################################################################################### */
/* ############## SECTION HERBERGEMENT ################ */
.info {
  padding-top: 35px;
  padding-bottom: 35px;
}

.info i {
  font-size: 65%;
  color: #0065fc;
  margin-right: 10px;
  border: 1.6px solid #f2f2f2;
  padding: 4px 7px 4px 7px;
  border-radius: 100px;
}

/* --- marseille ----- */
#marseille {
  background-color: #f2f2f2;
  max-width: 913px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
}

.logm div {
  background-color: white;
  border-radius: 20px;
  margin: 15px;
  padding: 5px;
  line-height: 5px;
  height: 190px;
}
.logm div p {
  line-height: 1px;
  margin-bottom: 1px;
}
.logm span {
  color: #0065fc;
  margin-left: 18px;
  line-height: 30px;
  font-size: 12px;
}

#stargrey1,
#stargrey2,
#stargrey3,
#stargrey4,
#stargrey5 {
  color: #f2f2f2;
}

.logm img {
  width: 240px;
  height: 112px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.logm {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#marseille h2 {
  margin: 40px;
  font-family: "rbold";
}
#marseille a {
  text-decoration: none;
  color: black;
}
#marseille #afficher {
  font-family: "rbold";
  margin-left: 40px;
  line-height: 100px;
}
.logm .titre {
  font-family: "rbold";
}

/* --- fin marseille ----- */
/* ----------------- populaire ------------------- */

#popu {
  background-color: #f2f2f2;
  width: 388px;
  border-radius: 10px;
  display: inline-block;
  margin-left: 35px;
  padding-bottom: 30px;
}

#popu h2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "rbold";
}
#popu a {
  text-decoration: none;
  color: black;
}
.logpo div {
  background-color: white;
  border-radius: 20px;
  margin-top: 10px;
  height: 145px;
}

.logpo span i {
  color: #0065fc;
  font-size: 12px;
}
.logpo span {
  font-family: "rbold";
}

.logpo img {
  width: 126px;
  height: 93%;
  object-fit: cover;
  border-radius: 15px 0px 0 15px;
  float: left;
  margin: 1.5%;
  margin-right: 4%;
}

.logpo {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}
.logpo div {
  margin-bottom: 22px;
}
.logpo div span,
.logpo div {
  margin-top: 0%;
  line-height: 220%;
}
.logpo .titre {
  font-weight: bolder;
}
.logpo #matin span i {
  padding-top: 30px;
}
.logpo #blanc span i {
  padding-top: 30px;
}
.logpo #hotes span i {
  padding-top: 10px;
}
#popu h2 {
  margin: 40px;
}

#stargrey6,
#stargrey7 {
  color: #f2f2f2;
}
/* --- fin populaire ----- */

/* ############## FIN SECTION DE HERBERGEMENT ################ */
/* ##################################################################################################### */
/* ############## SECTION ACTIVITES ################ */
#titrea {
  margin-top: 50px;
  margin-bottom: -10px;
  font-family: "rbold";
}

#activite img {
  width: 308px;
}
#activite {
  display: flex;
  flex-wrap: wrap;
}
#activite div {
  margin: 2.6% 0 2.6% 0;
}
#col2 {
  padding-right: 2.6%;
}
#col1 {
  width: 100%;
  height: 97%;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 12px 15px 3px #f2f2f2;
}
#col3 {
  width: 100%;
  height: 97%;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 12px 15px 3px #f2f2f2;
}
#col21 {
  display: flex;
  flex-direction: column;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 12px 15px 3px #f2f2f2;
  width: 100%;
}
#col22 {
  display: flex;
  flex-direction: column;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 12px 15px 3px #f2f2f2;
  width: 100%;
}
#col41 {
  display: flex;
  flex-direction: column;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 12px 15px 3px #f2f2f2;
  width: 100%;
}
#col42 {
  display: flex;
  flex-direction: column;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 1px 12px 15px 3px #f2f2f2;
  width: 100%;
}
#col1 img,
#col3 img {
  height: 400px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
#col21 img {
  height: 190px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
#col22 img {
  height: 120px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
#col4 img {
  height: 155px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
#activite a {
  text-decoration: none;
  color: black;
  margin: 2.6% 2.6% 12% 0%;
}
#activite p {
  font-family: "rbold";
  padding-left: 20px;
}
/* ############## FIN SECTION DE ACTIVITE ################ */
/* ##################################################################################################### */
/* ############## SECTION FOOTER ################ */
footer {
  background-color: #f2f2f2;
  position: absolute;
  left: 0px;
  right: 0;
  display: flex;
  padding: 15px 0 20px 30px;
}
footer a {
  text-decoration: none;
  color: black;
}
footer div {
  margin-right: 250px;
  line-height: 30px;
}
footer span {
  font-family: "rbold";
}
/* ############## FIN SECTION DE ACTIVITE ################ */
/* ##################################################################################################### */
