/* ##############  CORPS ################ */
@font-face {
  font-family: "raleway";
  src: url("police/Raleway-Regular.ttf"), url("police/Raleway-Thin.ttf"),
    url("police/Raleway-Light.ttf"), url("police/Raleway-ExtraLight.ttf"),
    url("police/Raleway-Medium.ttf"), url("police/Raleway-SemiBold.ttf"),
    url("police/Raleway-Bold.ttf"), url("police/Raleway-ExtraBold.ttf"),
    url("police/Raleway-Black.ttf"), url("police/Raleway-ThinItalic.ttf"),
    url("police/Raleway-ExtraLightItalic.ttf"),
    url("police/Raleway-LightItalic.ttf"), url("police/Raleway-Italic.ttf"),
    url("police/Raleway-MediumItalic.ttf"),
    url("police/Raleway-SemiBoldItalic.ttf"),
    url("police/Raleway-BoldItalic.ttf"),
    url("police/Raleway-ExtraBoldItalic.ttf"),
    url("police/Raleway-BlackItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "raleway", Arial, sans-serif;
  font-style: normal;
  margin-left: 4%;
  margin-right: 4%;
}
/* ##############  FIN CORPS ################ */
/* ##################################################################################################### */
/* ##############  EN-TETE ################ */
.header1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header2 {
  display: none;
}

.logo1 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.menu {
  display: flex;
}

.menu input {
  display: none;
}

.menu label {
  text-align: center;
  line-height: 4rem;
  cursor: pointer;
  margin-top: -0.4697em;
}

.menu input:checked + label {
  width: 10em;
  box-shadow: inset 0em 0.2em #0065fc;
  color: #0065fc;
}
.menu a {
  display: flex;
  text-decoration: none;
  color: #0065fc;
  font-weight: bolder;
  margin-top: 15px;
}

.tete div label {
  width: 160px;
  display: flex;
  justify-content: center;
}
/* ############## FIN DE EN-TETE ################ */
/* ##################################################################################################### */
