body {
  color: black;
}
html,
body {
  margin: 0;
  padding: 0;
}
/* ##############  EN-TETE ################ */
.header1 {
  display: none;
}
.header2 {
  display: block;
  padding-top: 20px;
  margin-left: 4%;
  margin-right: 4%;
}

.upheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs {
  max-width: 768px;
  display: flex;
  margin-left: 0em;
  margin-right: 0em;
  padding-top: 20px;
  box-shadow: inset 0 -0.2rem #f2f2f2;
  width: 106%;
  margin-left: -14px;
}

.tabs input {
  display: none;
}

.tabs label {
  flex: 1;
  text-align: center;
  line-height: 4rem;
  cursor: pointer;
}

.tabs input:checked + label {
  box-shadow: inset 0 -0.2rem #0065fc;
  color: #0065fc;
}

.inscrire2 a {
  text-decoration: none;
  color: #0065fc;
  font-family: "rbold";
}
.tabs a {
  text-decoration: none;
  color: black;
}
.tabs #hbg1m {
  color: #0065fc;
}
/* ##############  FIN EN-TETE ################ */
#recherche h2 {
  margin-left: 5%;
}
#recherche p {
  margin-left: 0px;
}

#bouton {
  display: none;
}
#boutonm input {
  width: 350px;
  height: 28px;
  border: 1px solid #f2f2f2;
  border-radius: 12px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  padding-left: 65px;
  font-size: 110%;
  font-family: "rbold";
}

#boutonm {
  display: block;
  position: relative;
  margin-left: 4%;
}

#boutonm i {
  width: 25px;
  position: absolute;
  top: 8px;
  background-color: #f2f2f2;
  color: black;
  padding: 15px 5px 15px 20px;
  border-radius: 12px 0 0 12px;
}

#recherche span i {
  left: 280px;
  border-radius: 12px 12px 12px 12px;
  padding: 15px 10px 10px 15px;
  background-color: #0065fc;
  color: white;
  font-size: 100%;
  width: 20px;
  height: 20px;
}

#boutonm input {
  width: 250px;
}
#boutonm input[type="submit"] {
  left: 300px;
  width: 50px;
  border-radius: 30% 30% 30% 30%;
}

/* ##############  FILTRE ################ */
#filtres {
  margin-left: 5%;
}
#filtres p {
  border: 1px solid white;
  width: 100%;
  margin-bottom: 0;
  color: black;
}
#filtres .icon1,
.icon2,
.icon3,
.icon4 {
  margin-left: -20px;
}
/* ##############  FIN FILTRE ################ */

.info {
  margin-left: 5%;
}

/* ##############  HEBERGEMENT & POPULAIRE ################ */
#hebergement {
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
}

#om {
  background-color: white;
  flex-direction: column;
}
#hebergement #om + #popu {
  margin-left: 0;
}
/* ---  marseille ----- */
#om div {
  background-color: white;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 20px;
  width: 81%;
  margin-left: 6%;
}
#om div img {
  width: 100%;
}
/* --- fin marseille ----- */
/* ----------------- populaire ------------------- */
#popu {
  border-radius: 0;
}

#popu .casep {
  width: 86%;
  margin: 0 5% 30px 6%;
}
.casep aside {
  display: flex;
  flex-direction: column;
  height: 10px;
  line-height: 25px;
  padding-left: 3%;
}
.casep aside p {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 90%;
}
.casep .starp {
  font-size: 80%;
  position: relative;
  left: 0em;
  top: -5px;
}
.casep #starpopu {
  font-size: 80%;
  position: relative;
  left: 0em;
  top: -15px;
}
aside #starblanc {
  font-size: 80%;
  position: relative;
  left: 0em;
  top: -5px;
}
/* ##############  FIN HEBERGEMENT & POPULAIRE ################ */

/* ##############  ACTIVITÉ ################ */
#activite {
  display: flex;
  flex-direction: column;
}
#activite img {
  width: 100%;
  height: 150px;
}
#activite div {
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}
#titrea {
  margin-left: 20px;
  padding-top: 0;
}

#col4 {
  margin-top: -20px;
}
/* ##############  FIN ACTIVITÉ ################ */

/* ##############  FOOTER ################ */

footer {
  display: flex;
  flex-wrap: wrap;
}

footer div {
  white-space: nowrap;
}
